<ng-container *ngIf="timeTable">
  <h2>{{timeTable.dm.input.input}}</h2>
  <h3>Lines</h3>
  <ng-container *ngIf="timeTable && timeTable.servingLines">
    @for (item of timeTable.servingLines.lines; track item) {
      <div class="departure"><span class="name">{{item.mode.name}}</span> {{item.mode.destination}}</div>
    }
  </ng-container>

  <h3>Departures</h3>

  <ng-container *ngIf="timeTable && timeTable.servingLines">
    @for (item of timeTable.departureList; track item) {
      <div class="departure" *ngIf="item.servingLine">
        <div class="departure-time">
          <span class="time time-planned">{{VmsService.getTimeString(item.dateTime)}}</span>
          <span class="time time-real">{{VmsService.getTimeString(item.dateTime)}}</span>
        </div>
        <span class="name">{{item.servingLine.name}} {{item.servingLine.number}}</span>
        <span class="destination"><a href="?stopId={{item.servingLine.destID}}">{{item.servingLine.direction}}</a></span>
        <span class="time time-countdown">{{item.countdown}}min</span>
      </div>
    }
  </ng-container>
</ng-container>
