/* You can add global styles to this file, and also import other style files */


body {
  font-family: Arial, serif;
  background-color: #000;
  color: lightgray;
  padding: 0 20px;
}

h1, h2, h3 {
  color: #0083ca
}
